extends layout 

block content

  div#form-wrapper
    div#form-title
      h2 Create thread
    div#form-errors
      if errors 
        p We found errors in your submission:
        ul 
          for error in errors 
            li!= error.msg
    form.form-thread(method="POST" action="")
      //- label(for="user") Type User name:
      //- input.form-controls(type="text" for="user" id="user" name="user" placeholder="Enter your name here... (optional)")
      div.form-input-wrapper
        label.form-create-control(for="title") Title *
        input.form-controls(type="text" for="title" id="title" name="title" placeholder="Enter thread name here...")
      div.form-input-wrapper
        label.form-create-control(for="flair") Flair *
        select.form-controls(name="flair" id="flair")
          option(value="General") General 
          option(value="Discussion") Discussion 
          option(value="Question") Question
      div.form-input-wrapper
        label.form-create-control(for="message") Message *
        textarea#create-thread-textarea.form-controls(type="text" for="message" name="message" placeholder="Enter your message here..." rows="10" cols="60")
        input#date_created.form-controls(type="hidden" value=new Date() name="date_created")
      button#btn-create-form.form-submit(type="submit") Submit Thread