extends layout

block content
  div#sidebar-content
    div#recent-content
      h2 Recent Replies
      ul 
        each msg in messages 
          li
            p #{msg.message}
            a(target="_self" href="/thread/" + msg.thread_id) Visit thread.
  div#main-content
    div#main-header
      h2 Latest Threads
      div#create-thread-wrapper
        a#create-thread-link(href='/thread/new')
          h2 + Create a thread
    ul 
      each thread in threads
        li.thread-list 
          a#thread-title(target="_self" href="/thread/" + thread._id) #{thread.title}
          p#thread-user posted by User #{thread.user} at #{thread.date_created_formatted}
      else 
        li There are no threads

    div#thread-controls
      div#page-threads
        if prevpage >= 1
          a.page-controls(href="/page/" + prevpage) Prev Page 
        else 
          p.page-controls Prev Page
        if nextpage > 1 && nextpage != page
          a.page-controls(href="/page/" + nextpage) Next Page
        else
          p.page-controls Next page

