extends layout

block content
  p Display all messages here
  a(href='/thread/new') Create a thread
  h2 Latest Threads

  ul 
    each thread in threads
      li 
        a(target="_self" href="/thread/" + thread._id) #{thread.title} </a> by #{thread.user}
        p #{thread.date_created}
    else 
      li There are no threads

  if nextpage > 1 && nextpage != page
    a(href="/page/" + nextpage) Next Page
  else
    | Next page
  <br/>
  if prevpage >= 1
    a(href="/page/" + prevpage) Prev Page 
  else 
    | Prev Page

