extends layout

block content
  div#sidebar-content
    div#create-thread-wrapper
      a#create-thread-link(href='/thread/new') Create a thread
    div#recent-content
      h2 Recent Replies
      ul 
        each msg in messages 
          li
            p #{msg.message}
  div#main-content
    h2 Latest Threads
    ul 
      each thread in threads
        li 
          a(target="_self" href="/thread/" + thread._id) #{thread.title} </a> by #{thread.user}
          p #{thread.date_created}
      else 
        li There are no threads

    div#thread-controls
      div#page-threads
        if prevpage >= 1
          a.page-controls(href="/page/" + prevpage) Prev Page 
        else 
          p.page-controls Prev Page
        if nextpage > 1 && nextpage != page
          a.page-controls(href="/page/" + nextpage) Next Page
        else
          p.page-controls Next page

