extends layout

block content
  p Display all messages here
  a(href='/thread/new') Create a thread
  h2 Latest Threads

  ul 
    each thread in threads
      li 
        a(target="_self" href="/thread/" + thread._id) #{thread.title} </a> by #{thread.user}
        p #{thread.date_created}
    else 
      li There are no threads

  if threads.length > 10
  

