doctype html
html
  head
    title converse.me
    link(rel='stylesheet', href='/stylesheets/user_auth.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto+Slab&family=Roboto&family=Tilt+Neon&family=Yatra+One&display=swap" rel="stylesheet")
    link(rel='icon', type='image/x-icon' href='/images/favicon.ico')
  body
  div#page-container
    div#form-wrapper
      div#form-title
        h2 Login
      div#form-errors
        if errors 
          p We found errors in your submission:
          ul 
            for error in errors 
              li!= error.msg
      form.form-thread(method="POST" action="")
        div.form-input-wrapper
          label.form-create-control(for="username") Username:
          input.form-controls(type="text" id="username" name="username" )
        div.form-input-wrapper
          label.form-create-control(for="password") Password:
          input.form-controls(type="password" id="password" name="password")
        button#btn-create-form.form-submit(type="submit") Log in
      p#signup-text No account? <a href="/sign-up">Sign up here.</a>
    div#logo-content