:root {
  background: url('/images/background.jpg') no-repeat center fixed;
  background-size: cover;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Roboto, "Lucida Grande", Helvetica, Arial, sans-serif;
}

svg {
  height: 50px;
  fill: white;
}

a {
  color: #68B0AB;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

h1,
p {
  margin: 0px;
}


#settings-icon {
  height: 25px;
  margin: 0px 5px;
}

#page-container {
  margin: 0px 5vw;
}

#header-container {
  display: flex;
  flex-direction: column;
}

#thread-title-wrapper > hr {
  margin: 10px 0px;
}

#thread-wrapper > hr {
  margin: 20px 0px 0px 0px;
  color: white;
}

#title-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#site-title {
  font-size: 2.5rem;
  color: white;
  text-shadow: 3px 3px rgb(49, 49, 49);
  font-family: Alkatra;
  padding-bottom: none;
}

#site-logo {
  height: 64px;
  align-self: center;
}

#login-header {
  top: 0;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-header.p1 {
  display: flex;
  align-items: center;
}

#header-wrapper {
  margin-bottom: 15px;
}

#main-header {
  display: flex;
  align-items: center;
  /* background-color: #a62639; */
  background-color: #2C5530;
  color: rgb(255, 255, 255);
  align-items: center;
  padding: 5px 15px;
  height: 65px;
  border-radius: 20px 20px 0px 0px;
}

#main-header h2 {
  margin: 0px;
  font-size: 1.7rem;
}

#content-container {
  display: flex;
  gap: 15px;
  justify-content: center;
}

#sidebar-content {
  min-width: 300px;
  align-self: flex-start;
}


.sidebar-header {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color:#a62639; */
  background-color: #2C5530;
  color: rgb(255, 255, 255);
  border-radius: 20px 20px 0px 0px;
}

.sidebar-title-text {
  margin: 5px 0px;
  font-size: 1.5rem;
}

#main-content {
  flex: 1;
  background-color: rgb(226, 226, 226);
  border-radius: 20px;
  box-shadow: 7px 7px 5px #2c2c2c;
  min-height: 500px;
}

#create-thread-wrapper {
  display: flex;
  margin-left: auto;
  padding: 20px 0px;
}

#create-thread-link {
  background-color: #3d9788;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 3px 3px 5px #2c2c2c;
}

#create-thread-link:hover {
  transform: scale(1.05);
}

#header-wrapper {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-tag {
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgb(49, 49, 49);
  font-family: Alkatra;
}

#thread-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 20px;
  margin: 0px;
}

.thread-elements {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 3px 5px #2c2c2c
}

.thread-user {
  display: flex;
  margin-top: 5px;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}

.index-thread-user {
  display: flex;
  margin-top: 5px;
  font-size: 0.8rem;
  color: rgb(48, 48, 48);
}

.thread-last-reply {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: auto;
  text-align: right;
}

.last-reply-msg {
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
}

.last-reply-date {
  color: rgb(97, 97, 97);
  font-size: 0.8rem;
}

.thread-title {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 5px;
  color: #971010;
  font-weight: 700;
}

.thread-logo {
  height: 50px;
  margin-right: 10px;
}

.thread-flair {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 5%;
  text-align: center;
  box-shadow: 2px 2px 1px rgb(49, 49, 49);
  letter-spacing: 0.5px;
}

.General {
  background-color: rgb(142, 69, 172);
}

.Discussion {
  background-color: rgb(39, 129, 69);
}

.Question {
  background-color: rgb(209, 44, 44);
}

.thread-details {
  display: flex;
  gap: 3px;
}

.thread-pages {
  display: flex;
  font-size: 0.8rem;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.thread-page-links {
  margin-top: 5px;
  margin-left: 3px;
}

.recent-replies-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px;
  padding: 10px;
}

#recent-content {
  background-color: #E2E2E2;
  border-radius: 20px;
  box-shadow: 7px 7px 5px #2c2c2c;
}

#site-stats-content {
  border-radius: 20px;
  box-shadow: 7px 7px 5px #2c2c2c;
  margin-bottom: 10px;
}

.site-stats-container {
  padding: 10px;
  background-color: #E2E2E2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.site-stats-wrapper {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  font-size: 0.9rem;
}

.recent-replies {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: white;
  border-radius: 5px;
}

.recent-replies-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 2px;
}

.recent-replies-img {
  height: 30px;
}

.recent-replies-msg {
  font-size: 0.9rem;
}

.recent-replies-user {
  font-size: 0.75rem;
  color: gray;
}

.recent-replies-user > a {
  font-style: normal;
  font-weight: 700;
}

.rules-content {
  max-width: 300px;
  background-color: #E2E2E2;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #2c2c2c;
}

.rules-wrapper {
  padding: 10px;
}

.rules {
  margin-bottom: 10px;
  font-size: 0.9rem;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

#nav-link {
  padding: 10px 0px;
}

.form-create-control {
  color: black;
  padding: 10px 0px;
}

#thread-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#reply-form-disabled {
  align-self: center;
}

#thread-header {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px;
  border-radius: 5px;
  background-color: #263D42;
  box-shadow: 5px 5px 5px #2c2c2c;
}

#thread-display {
  display: flex;
  align-self: flex-start
}

#thread-title-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.thread-title-text {
  font-family: Roboto Slab;
  color: #4A7C59;
}

.display-thread-title-text {
  color: white;
  font-size: 1.3rem;
}

#thread-msg-content {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  min-height: 100px;
}

#reply-wrapper {
  display: flex;
  padding: 20px;
  gap: 5px;
}

#replies-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px;
}

.reply-avatar {
  height: 50px;
  align-self: flex-start;
}

.replies {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px 20px;
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
}

.reply-msg-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.reply-msg-content {
  margin-top: 5px;
  border-radius: 10px;
  min-height: 50px;
  background-color: white;
  padding: 10px;
}

#form-reply {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  background-color: #C8D5B9;
  border-radius: 5px;
  flex-grow: 1;
}

#form-reply #message {
  border-radius: 10px;
  font-size: 1rem;
}
  
.form-create-control {
  font-size: 1.7rem;
}

#footer-container {
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 8px 0px;
  color: white;
  font-family: Tilt Neon;
}

#footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-text-two {
  font-size: 0.7rem;
}

.thread-controls {
  display: flex;
  padding: 5px 10px 15px 10px;
}

#page-threads {
  display: flex;
  margin-left: auto
}

.page-controls {
  margin: 0px 5px;
  font-size: 1rem;
  padding: 10px;
  background-color: #80CED7;
  color: white;
  border-radius: 10%;
  box-shadow: 3px 3px 5px #2c2c2c
}

.page-controls:hover {
  transform: scale(1.05);
}

.form-thread {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
  align-self: center;
}

.form-create-control {
  font-size: 1.1rem;
  color: white;
}

#form-title > h2 {
  color: rgb(255, 255, 255);
  margin: 5px
}

#form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background-color: #2C5530;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #2c2c2c
}

#form-header-wrapper {
  display: flex;
  align-items: center;
  color: white;
}

#form-errors {
  margin: 5px;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #263D42;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #2c2c2c
}

.form-controls {
  font-size: 1.2rem;
  margin: 5px 0;
  padding: 10px;
  border: none;
  min-width: 350px;
}

#flair {
  padding: 5px;
}

#btn-form,
#btn-create-form {
  font-size: 1rem;
  padding: 12px;
  border-radius: 10px;
  outline: 0px;
  border: 0px;
  align-self: center;
  cursor: pointer;
  background-color: #3d9788;
  color: white;
  box-shadow: 3px 3px 5px #2c2c2c;
  margin-top: 30px;
  min-width: 100px
}

#btn-form {
  margin-top: 15px;
}

#btn-create-form:hover {
  transform: scale(1.1);
}

#create-thread-textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  resize: none;
}

#signup-text {
  text-align: center;
  margin: 40px 10px 10px 10px;
}

.own {
  background-color: #5c8891;
}